/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

.no-scroll {
  overflow-y: hidden;
}

.none {
  display: none !important;
  visibility: hidden;
}

a {
  color: #fff;
}
a:hover {
  color: #d4c17f;
  transition: all 0.2s ease-in;
  text-decoration: underline;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  color: #d4c17f;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
}

.btn {
  max-width: 255px;
  width: 100%;
  height: 50px;
  padding: 12px 5px;
  background-color: #d4c17f;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.68;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background-color: #e5ca6e;
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}

.form-input {
  max-width: 255px;
  width: 100%;
  height: 50px;
  padding: 12px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.9;
  transition: all 0.2s ease-in;
}
.form-input::-moz-placeholder {
  color: #bebebe;
}
.form-input::placeholder {
  color: #bebebe;
}
.form-input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.disclaimer {
  color: #e7e7e7;
  text-align: center;
  font-size: 13px;
  line-height: 1.23;
}

.email-link {
  color: #d4c17f;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.header {
  padding-top: 30px;
  padding-bottom: 75px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in;
}

.header__top--mobile {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  justify-content: flex-start;
  z-index: 9;
  background-color: #242b33;
}
.header__top--mobile .header-nav {
  display: block;
}
.header__top--mobile .header-nav__list {
  flex-direction: column;
}
.header__top--mobile .header-nav__btn {
  position: absolute;
  top: 25px;
  right: 15px;
}

.header-nav {
  display: none;
}
@media (min-width: 992px) {
  .header-nav {
    display: block;
  }
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
}

.header-nav__btn {
  display: block;
}
@media (min-width: 992px) {
  .header-nav__btn {
    display: none;
  }
}

.header__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin: 50px 0;
}
.header__center h1 {
  max-width: 556px;
  color: #d4c17f;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 992px) {
  .header__center {
    margin: 200px 0;
    row-gap: 80px;
  }
  .header__center h1 {
    font-size: 48px;
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
@media (min-width: 576px) {
  .header__bottom {
    flex-direction: row;
    gap: 100px;
  }
}

.header__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.header__info span {
  font-size: 18px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.benefits {
  position: relative;
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  max-width: 794px;
  margin: 0 auto;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 1.15;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 46px;
}
.benefits__item:first-child .benefits__item-text {
  width: 193px;
}

.benefits__item-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  line-height: 1;
  transform: translate(50%, 0%);
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 1.15;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}

.apartments__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 88px;
}

.apartments__item {
  position: relative;
  max-width: 540px;
  height: 320px;
}
.apartments__item::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px double rgba(255, 255, 255, 0.4);
}
.apartments__item:hover::after {
  opacity: 1;
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}
.apartments__item:hover .apartments__item-img {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}

.apartments__item-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments__item-title {
  position: absolute;
  left: 50px;
  bottom: 44px;
  right: 20px;
  font-size: 24px;
}

.cta {
  padding: 180px 0;
  background: url(../../img/cta/background.jpg) no-repeat center;
}

.cta__content {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  gap: 30px;
}

.video {
  position: relative;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  line-height: 1.5;
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 1.15;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}

.video__link {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  transition: all 0.2s ease-in;
}
.video__link:hover {
  opacity: 0.8;
}
.video__link:hover .video__play {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}

.video__play {
  position: absolute;
}

.map-section {
  margin: 180px 0;
  position: relative;
}
.map-section::before {
  content: "V";
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 1.15;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
}

.map {
  height: 358px;
  margin-top: 88px;
  background-color: #626262;
}

.feedback {
  margin-bottom: 180px;
}

.feedback-form {
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.footer {
  padding: 60px 0;
  background-color: #2d343c;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-top: -15px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer-item {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 22px;
}

.footer-socials__icon svg {
  fill: red;
}/*# sourceMappingURL=main.css.map */