/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  color: #fff;
}
a:hover {
  color: #d4c17f;
  transition: all 0.2s ease-in;
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  color: #d4c17f;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
}

.header {
  min-height: 840px;
  padding-top: 30px;
  padding-bottom: 75px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../img/header/header-bg.jpg"), lightgray 50%/cover no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
  margin: 200px 0;
}
.header__center h1 {
  max-width: 556px;
  color: #d4c17f;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.header__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.header__info span {
  font-size: 18px;
}

.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 14px;
}

.benefits {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  max-width: 794px;
  margin: 0 auto;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 46px;
}
.benefits__item:first-child .benefits__item-text {
  width: 193px;
}

.benefits__item-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.apartments__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 88px;
}

.apartments__item {
  position: relative;
  max-width: 540px;
  height: 320px;
}
.apartments__item::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px double rgba(255, 255, 255, 0.4);
}
.apartments__item:hover::after {
  opacity: 1;
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}
.apartments__item:hover .apartments__item-img {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}

.apartments__item-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments__item-title {
  position: absolute;
  left: 50px;
  bottom: 44px;
  right: 20px;
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */