.benefits {
  overflow: hidden;
  position: relative;
  padding: 60px 0;

  &::after {
    content: "II";
    left: calc(50% + 555px);
    transform: translate(-50%, 0%);

    @include decorNumber;
  }

  @include mediaLg {
    padding: 120px 0;
  }
}

.benefits__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 40px;
  max-width: 794px;
  margin: 0 auto;

  @include mediaMd {
    flex-direction: row;
  }

  @include mediaLg {
    column-gap: 70px;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  &:first-child {
    .benefits__item-text {
      width: 193px;
    }
  }

  @include mediaMd {
    row-gap: 46px;
  }
}

.benefits__item-text {
  text-align: center;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;

  @include mediaMd {
    font-size: 20px;
    line-height: 27px;
  }
}
