.cta {
  padding: 180px 0;
  background: url(../../img/cta/background.jpg) no-repeat center;
}

.cta__content {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  gap: 30px;
}
