.cta {
  padding: 180px 0;
  background: url(../../img/cta/background.jpg) no-repeat center;
}

.cta__content {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  gap: 30px;
}

.cta__description {
  font-size: 16px;
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}

.cta__input {
  min-width: 255px;
  background-color: rgba($color: $white, $alpha: 0.2);
  padding: 12px;

  text-align: center;
  color: $white;
  font-size: 14px;
  line-height: 1.9;
  transition: all 0.2s ease-in;

  &::placeholder {
    color: $placeholder;
  }

  &:focus {
    background-color: rgba($color: $white, $alpha: 0.3);
  }
}

.cta__disclaimer {
  color: $muted;
  text-align: center;
  font-size: 13px;
  line-height: 1.23;
}

.cta__btn {
  min-width: 255px;
  padding: 12px 0px;
  background-color: $accent;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.68;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: saturate($accent, 20%);
  }
}
