.header {
  padding-top: 30px;
  padding-bottom: 75px;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url("./../img/header/header-bg.jpg"), lightgray 50% / cover no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in;
}

.header__top--mobile {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  justify-content: flex-start;
  z-index: 9;
  background-color: $dark;

  .header-nav {
    display: block;
  }

  .header-nav__list {
    flex-direction: column;
  }

  .header-nav__btn {
    position: absolute;
    top: 25px;
    right: 15px;
  }
}

.header-nav {
  display: none;

  @include mediaLg {
    display: block;
  }
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
}

.header-nav__btn {
  display: block;

  @include mediaLg {
    display: none;
  }
}

.header__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin: 50px 0;

  h1 {
    max-width: 556px;
    color: $accent;
    text-align: center;
    font-family: $font-accent;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @include mediaLg {
    margin: 200px 0;
    row-gap: 80px;

    h1 {
      font-size: 48px;
    }
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  @include mediaSm {
    flex-direction: row;
    gap: 100px;
  }
}

.header__info {
  display: flex;
  align-items: center;
  column-gap: 14px;

  span {
    font-size: 18px;
  }
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;

  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;

  width: var(--width);
  height: var(--line-height);

  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}
