.header {
  padding-top: 30px;
  padding-bottom: 75px;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url("./../img/header/header-bg.jpg"), lightgray 50% / cover no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;

  @include mediaLg {
    display: block;
  }
}

.header-nav__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 14px;
}

.header-nav__btn {
  display: block;

  @include mediaLg {
    display: none;
  }
}

.header__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin: 50px 0;

  h1 {
    max-width: 556px;
    color: $accent;
    text-align: center;
    font-family: $font-accent;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @include mediaLg {
    margin: 200px 0;
    row-gap: 80px;

    h1 {
      font-size: 48px;
    }
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  @include mediaSm {
    flex-direction: row;
    gap: 100px;
  }
}

.header__info {
  display: flex;
  align-items: center;
  column-gap: 14px;

  span {
    font-size: 18px;
  }
}
