.map-section {
  margin: 80px 0;

  position: relative;

  &::before {
    content: "V";
    right: calc(50% + 555px);
    transform: translate(50%, 0%);

    @include decorNumber;
  }

  @include mediaLg {
    margin: 180px 0;
  }
}

.map {
  height: 200px;
  margin-top: 40px;
  background-color: #626262;

  @include mediaMd {
    margin-top: 88px;
    height: 358px;
  }
}
