.video {
  position: relative;
  overflow: hidden;

  &::after {
    content: "IV";
    left: calc(50% + 555px);
    line-height: 1.5;
    transform: translate(-50%, 0%);

    @include decorNumber;
  }
}

.video__link {
  display: flex;
  max-width: max-content;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;

    .video__play {
      transition: all 0.2s ease-in;
      transform: scale(1.1);
    }
  }
}

.video__play {
  position: absolute;
  width: 75px;
  height: 75px;

  @include mediaSm {
    width: 100px;
    height: 100px;
  }
}
