.video__link {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;

    .video__play {
      transition: all 0.2s ease-in;
      transform: scale(1.1);
    }
  }
}

.video__play {
  position: absolute;
}
